/* Generelle stiler */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; /* Legg til denne linjen for å inkludere polstring og kant i elementets bredde og høyde */
}

.main {
   width: 100%;
   background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(moen_bakgrunn.jpg);
   background-position: center;
   background-size: cover;
   min-height: 100vh; /* Endre høyden til min-height for å sikre at innholdet fyller hele skjermen */
}

.navbar {
   width: 100%;
   height: 75px;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(14, 12, 12, 0.5);
   z-index: 1000;
}

.icon {
   width: 250px;
   height: 70px;
}

.icon img {
   width: 100%;
   height: auto;
}

.menu {
   flex: 1;
   display: flex;
   justify-content: center;
}

ul {
   list-style: none;
   display: flex;
}

ul li {
   margin-left: 25px;
   font-size: 20px; /* Endre størrelsen på menyelementene for bedre lesbarhet på mobile enheter */
}

ul li a {
   color: white;
   text-decoration: none;
   font-family: Arial;
   font-weight: bold;
   transition: 0.4s ease-in-out;
}

ul li a:hover {
   color: #1a8fd3;
}

.footer {
   text-align: center;
   margin-top: 20px;
   color: #531429;
}

.footer hr {
   border: none;
   border-top: 1px solid #cf111b;
   width: 100%;
}

.content {
   margin: 75px auto 50px auto;
   text-align: center;
   padding: 0 20px; /* Legg til padding for bedre lesbarhet og plassering av innholdet */
}

.content h1 {
   color: #bac3e6;
   font-size: 30px; /* Endre størrelsen på overskriften for bedre lesbarhet på mobile enheter */
   margin-bottom: 20px; /* Legg til litt avstand under overskriften */
}

.content p {
   font-size: 16px;
   line-height: 1.5; /* Øk linjeavstanden for bedre lesbarhet */
   margin-bottom: 15px;
}

.text-content {
   font-size: 18px; /* Juster teksten for bedre lesbarhet på mobile enheter */
   line-height: 1.5;
   color: aqua;
}
